body {
    background-color: darkgrey;
}

img {
    width: 106%;
    height: 113.5%;
    margin-top: 3px;
}

h1 {
    text-align: center;
    font-size: 80px;
    background-color: black;
    padding-bottom: 5px;
    color: gold;
    padding: 0;
    margin: 0;
}

p {
    border: 1px solid black;
}

h5 {
    text-align: center;
}

.nav-item {
    margin-left: 55%;
    background-color: darkgoldenrod;
    border: 2px solid gold;
}

.nav-item:hover {
    background-color: floralwhite;
    border: 2px solid black;
}

.bg-dark {
    background: firebrick !important;
}

.nav-link {
    font-size: 20px;
    color: gold !important;
}

.nav-link:visited {
    color: darkblue !important;
}

.nav-link:hover {
    color: black !important;
}

.container {
    padding: 0;
    background-color: white;
}

.jumbotron {
    margin-top: 5px;
    padding: 10px;
    background-color: firebrick;
    border: 1px solid black;
}

.btn-dark {
    color: gold !important;
}

.card {
    margin-top: 3px;
    background-color: firebrick;
}

.card-img-top {
    height: 250px;
    border: 1px soild black;
    border-radius: 5px;
    margin: 0;
}

.card-title {
    border: 1px solid gold;
    border-radius: 5px;
    background-color: black;
    color: gold;
}

.card-text {
    background-color: black;
    border: 1px solid gold;
    border-radius: 5px;
    color: gold;
    padding: 1px;
}

.btn-primary {
    background-color: black;
    border: black;
    color: gold;
}