body {
    background-color: #1A1A1A;
}

img {
    width: 106%;
    height: 274px;
    margin-top: 5px;
    border: 2px inset gold;
}

h1 {
    text-align: center;
    font-size: 80px;
    background-color: black;
    padding-bottom: 5px;
    color: gold;
    padding: 0;
    margin: 0;
}

p {
    border: 2px inset gold;
    background-color: white;
}

h5 {
    text-align: center;
}

.navbar {
    border: 2px inset gold;
}

.nav-item {
    background-color: darkgoldenrod;
    border: 2px solid gold;
    width: 5.5%;
}

.nav-item:hover {
    background-color: floralwhite;
    border: 2px solid black;
}

.bg-dark {
    background: firebrick !important;
}

.nav-link {
    font-size: 20px;
    color: gold !important;
}

.nav-link:visited {
    color: darkblue !important;
}

.nav-link:hover {
    color: black !important;
}

.container {
    padding: 0;
}

.jumbotron {
    margin-top: 5px;
    padding: 10px;
    background-color: firebrick;
    border: 2px inset gold;
}

.display-4 {
    border: 2px inset gold;
    margin-bottom: 5px;
}

.btn {
    border: 2px inset gold;
}

.btn-dark {
    color: gold !important;
}

.btn-dark:hover {
    background-color: gold !important;
    color: black !important;
}

.card {
    margin: 5px auto;
    background-color: firebrick;
    border: 2px inset gold;
    /* width: 500px !important; */
}

.card-img-top {
    height: 250px;
    border: 2px inset black;
    border-radius: 5px;
    margin: 0;
}

.card-title {
    border: 2px inset gold;
    border-radius: 5px;
    background-color: black;
    color: gold;
}

.card-text {
    background-color: black;
    border: 2px inset gold;
    border-radius: 5px;
    color: gold;
    padding: 1px;
}

.btn-primary {
    background-color: black;
    border: 2px inset gold;
    border-radius: 5px;
    color: gold;
}

.btn-primary:hover {
    background-color: gold;
    color: black;
    border: 3px inset black;
}

form {
    background-color: black;
    border: 2px inset gold;
    border-radius: 5px;
}

label {
    color: gold;
}

.form-group {
    border: 2px inset gold;
    background-color: firebrick;
    margin: 2px;
}

.lead {
    padding: 2px;
}

.forcedMarginLeft {
    /* width: 20px; */
}

@media screen and (max-width:1080px) {
    .nav-item {
        width: 7.5%;
    }
    img {
        width: 110%;
        height: 304px;
    }
}

@media screen and (max-width:980px) {
    img {
        height: 334px;
        width: 110%;
        margin-top: 5px;
    }
    .nav-item {
        width: 8%;
    }
    .forcedMarginLeft {
        width: 100px;
    }
}

@media screen and (max-width:768px) {
    img {
        height: 395px;
        width: 115%;
        margin-top: 5px;
    }
    .nav-item {
        width: 10.5%;
    }
    .card {
        width: 250px !important;
    }
}

@media screen and (max-width:640px) {
    .nav-item {
        width: 13.5%;
    }
}

@media screen and (max-width:500px) {
    .nav-item {
        width: 18%;
    }
}